@import "tailwindcss";
@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-inter: "Inter", sans-serif;
}
.outline-text {
  -webkit-text-stroke: 3px #000;
  paint-order: stroke fill;
}

html {
  scroll-behavior: smooth;
}
